{% if err_info %}
	{{ err_info}}
{% endif %}
<form action="/users/update" method='post'>
	<p><input type='hidden' name='id' value={{user_info[0].id}}></p>
	<p>登录名:<input type='text' name='login_name' value={{user_info[0].login_name}} readonly="readonly"></p>
	<p>中文名<input type='text' name='name_cn' value={{user_info[0].name_cn}}></p>
	<p>手机:<input type='text' name='mobile' value={{user_info[0].mobile}}></p>
	<p>邮箱:<input type='text' name='email' value={{user_info[0].email}}></p>
	<p>角色:<select name='role' value={{user_info[0].role}}>
	      <option value='0'>admin</option>
              <option value='1'>ops</option>
              <option value='2'>dev</option>
              <option value='3'>qa</option>
              <option value='4'>guest</option>
 	   </select>
        </p>
	<p>状态:<select name='status' value={{user_info[0].status}}>
              <option value='0'>正常</option>
              <option value='1'>锁定</option>
	   </select>
        </p>
	<p><input type="submit" value="更改"></p>
</form>
