{% extends "base.html" %}

{% block breadcrumb %} 
服务器管理
{% endblock %}

{% block main %} 

<div class="col-sm-12">
<a href="/cmdb/server_add" class="btn btn-sm btn-primary "> 添加服务器</a> 
<table class="table table-striped table-bordered table-hover " id="editable">
<thead>
    <tr>
        <th class="text-center">主机名</th>
        <th class="text-center">私网IP</th>
        <th class="text-center">公网IP</th>
        <th class="text-center">所属环境</th>
        <th class="text-center">服务器品牌</th>
        <th class="text-center">服务器型号</th>
        <th class="text-center">系统版本</th>
        <th class="text-center">内核版本</th>
        <th class="text-center">CPU类型</th>
        <th class="text-center">CPU数量</th>
        <th class="text-center">内存</th>
        <th class="text-center">物理磁盘</th>
        <th class="text-center">机房</th>
        <th class="text-center">状态</th>
        <th class="text-center">上线时间</th>
        <th class="text-center">下线时间</th>
        <th class="text-center">操作</th>
    </tr>
</thead>
<tbody>
   {% for server in server_list %}
        <tr class="gradeX">
                <td class="text-center"><strong>{{server.HostName}}</strong></td>
                <td class="text-center">{{server.PrivateIP}}</td>
                <td class="text-center">{{server.PublicIP}}</td>
                <td class="text-center">{{server.ENV}}</td>
                <td class="text-center">{{server.ServerBrand}}</td>
                <td class="text-center">{{server.ServerModel}}</td>
                <td class="text-center">{{server.OS}}</td>
                <td class="text-center">{{server.Kernel}}</td>
                <td class="text-center">{{server.CpuType}}</td>
                <td class="text-center">{{server.CpuCount}}</td>
                <td class="text-center">{{server.RAM_GB}}</td>
                <td class="text-center">{{server.PhyDiskSize}}</td>
                <td class="text-center">{{server.IDC}}</td>
                {% if server.status == 0 %}
                    <td class="text-center" style="color:green">在线</td>
                {% else%}
                    <td class="text-center" style="color:red">已下线</td>
                {% endif %}
                <td class="text-center">{{server.OnlineTime}}</td>
                <td class="text-center">
                    <button data-id="{{server.id}}" class="btn btn-xs btn-info user_update">编辑</button>
                    <button data-id="{{server.id}}" class="btn btn-xs btn-primary user_update_password ">修改密码</button>
                    <button data-id="{{server.id}}" class="btn btn-xs btn-danger del ">删除</button>
                </td>
            </td>
         </tr>
    {% endfor %}
 </tbody>
</table>

<!-- 删除模态框 -->
<div class="modal fade" id='deleteModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">删除</h4>
      </div>
      <div class="modal-body">
	<p style="color:red"><b>你确认要删除吗?</b></p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>                                                                         
	<button type="button" class="btn btn-warning del-sure" data-id=''>确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 模态框结束 -->


<script>

<!-- 删除-->
$(".del").click(function(){
   var id = $(this).attr('data-id')
   $('#deleteModal').modal('show')
   $(".del-sure").attr('data-id',id)
})

$(".del-sure").click(function(){
   var id = $(this).attr('data-id')
   var url = "/cmdb/server_delete?id="+id
   $.getJSON(url,function(data){
       swal({
             title:"Good",
             text:"Delete Success",
             type:'success',
	     confirmButtonText:"确定"
             },
             function(){
                location.reload()
           })
   })
})   
<!-- 删除用户结束-->

</script>

</div> <!--col-sm-12-->
{% endblock %}

