{% extends "base.html" %}

{% block breadcrumb %} 
Sorry
{% endblock %}

{% block main %}

<div>

   <input id="fileupload" type="file" name="files[]" data-url="/test" multiple>

</div>


<div class="progress" id="progress_file_upload">  
   <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
   </div>
</div>


<script>

$('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
	      console.log(data)
	      if(data.result.result==0){
                  $.each(data.result.files, function (index, file) {
		      console.log(data.result.files)
		      console.log(file)
                      $('#fileupload').after($("<p/>").html(file.name));
                 });
              }else{
                     $('#fileupload').after($("<p class='error' />").html(data.result.msg))
		     <!-- swal("OH,My God",data.result.msg,"error") -->
              }
	},    
        progressall: function (e, data) {
	  if($(".error").text()==''){
            var progress = parseInt(data.loaded / data.total * 100, 10);
	    console.log(data)
            $('#progress_file_upload .progress-bar').css(
                 'width',
                 progress + '%'
            );
	    $('#progress_file_upload .progress-bar').text(progress + '%');
	  }
        }
    });

</script>
{% endblock %}
