{% extends "base.html" %}

{% block breadcrumb %} 
添加用户
{% endblock %}

{% block main %}
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                 <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写基本信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="registerForm" class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
                            <div class="form-group">
                                <label for="login_name" class="col-sm-2 control-label  ">登录名<span class="red-fonts ">*</span></label>
                                <div class="col-sm-8">
                                    <input id="login_name" name="login_name" placeholder="LoginName" type="text" class="form-control" aria-required="true" data-tip="输入登录名">
                                 </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="name_cn" class="col-sm-2 control-label">中文名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="name_cn" name="name_cn" placeholder="NameCN" type="text" class="form-control" aria-required="true" data-tip="中文名">
                                 </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">密码<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="password" name="password" placeholder="Password" type="password" class="form-control" aria-required="true" data-tip="密码">
                                 </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="password_again" class="col-sm-2 control-label">重复密码<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                  <input id="password_again" name="password_again" placeholder="PasswordAgain" type="password" class="form-control" aria-required="true" data-tip="重复密码">
                                 </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="mobile" class="col-sm-2 control-label">手机号<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="mobile" name="mobile" placeholder="Mobile" type="text" class="form-control" aria-required="true" data-tip="手机号">
                                 </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">邮箱<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="email" name="email" placeholder="Email" type="text" class="form-control" aria-required="true" data-tip="邮箱">
                                 </div>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="role" class="col-sm-2 control-label">角色<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="0" class="role" name="role" checked="">管理员</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="1" class="role" name="role" checked="">运维</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="2" class="role" name="role" checked="">开发</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="3" class="role" name="role" checked="">测试</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="4" class="role" name="role">访客</label>
                                        </div>
                                    </div>
                                    
                                 </div>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">状态<span class="red-fonts">*</span></label>
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            &nbsp&nbsp&nbsp&nbsp<label><input type="radio" value="0" class="status" name="status" checked="">正常</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="1" class="status" name="status">锁定</label>
                                        </div>
                                    </div>

                            </div>
                            <div class="hr-line-dashed"></div>
                            <div style="color:red" class="text-center" id="errmsg"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">取消</button>
                                    <button id="submit_button" class="btn btn-primary">确认保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#submit_button").click(function(){
            var str = $("#registerForm").serialize();
            $.post("/users/register",str,function(data){
                data=JSON.parse(data);
                if(data["result"] == 0){
                    alert(data['msg']);
                    location.href="/users/user_list";
                }else{
                    $("#errmsg").text(data["msg"]);
                };
            });
            return false;
        });
    </script>
{% endblock %}

