{% extends "base.html" %}

{% block breadcrumb %} 
发布系统 / 发布操作
{% endblock %}

{% block main %}
<div class="ibox-content"> 
  <form id="pub_operaForm" class="Formvalid form-horizontal nice-validator n-yellow" novalidate="novalidate">
    <div class="form-inline row">
      <div class="col-sm-2" style="width:15%">
          <label for="opera_type" class="control-label text-right ">操作类型<span class="red-fonts ">*</span></label>
	  <select name="opera_type" id="opera_type" class="form-control" style="width:100px">
	      <option value='no_select' selected="selected">请选择......</option>
              <option value='publish'>发布</option>
              <option value='rollback'>回滚</option>
          </select>
      </div>
      <div class="col-sm-3" style="width:20%">
          <label for="pub_app_name" class="control-label text-right ">模块名<span class="red-fonts ">*</span></label>
	  <select name="pub_app_name" id="pub_app_name" class="form-control" style="width:200px">
	     <option value='no_select' selected="selected">请选择......</option>
	     {% for k in online_apps %}
		<option value={{k.app_name}}>{{k.app_name}}</option>
	     {% endfor %}
          </select>
      </div>
      <div class="col-sm-3" style="width:30%">
          <label for="pub_app_version" class="control-label text-right ">版本号<span class="red-fonts ">*</span></label>
	  <select name="pub_app_version" id="pub_app_version" class="form-control" style="width:300px">
	     <option id="version_id" value='no_select' selected="selected">请选择......</option>
          </select>
      </div>
      <div class="col-sm-3" style="width:20%">
          <label for="pub_app_addr" class="control-label text-right ">IP 地址<span class="red-fonts ">*</span></label>
	  <select name="pub_app_addr" id="pub_app_addr" class="form-control" style="width:200px">
	     <option id="ip_id" value='no_select' selected="selected">请选择......</option>
          </select>
      </div>
      <div class="col-sm-3" style="width:10%;text-align:center">
	  <button id="opera_button" class="btn btn-primary text-center">运行</button>
      </div>
    </div>
  </form>

  <div class="row">
      <div>
        <h5>运行结果......</h5>
      </div>
      <div id="pub_result" class="form-control col-sm-8" style="background-color:black">
      </div>
  </div>
</div>


<script>

function get_ips_version(){
    $("#pub_app_addr option[id!='ip_id']").remove()
    $("#pub_app_version option[id!='version_id']").remove()
    var pub_app_name=$("#pub_app_name").val()
    var opera_type=$("#opera_type").val()
    if(opera_type!='no_select' && pub_app_name!='no_select'){
        var str='/get/apps_ip_version?pub_app_name=' + pub_app_name +'&opera_type=' + opera_type
        $.getJSON(str,function(data){
          if(data['result']==0){
             var ip_str=''
             var version_str=''
             $.each(data['msg_ip'],function(k,v){
                ip_str += '<option value='+v+'>'+v+'</option>'
             });
             $("#ip_id").after(ip_str)
             $.each(data['msg_version'],function(k,v){
                version_str += '<option value='+v+'>'+v+'</option>'
             });
             $("#version_id").after(version_str)
           }else{
               swal("OH My God",data['msg'],"error")
           };
        });
    };
}

$("#pub_app_name,#opera_type").change(get_ips_version);

$("#opera_button").click(function(){
   var str=$("#pub_operaForm").serialize()
   $.post("/pub/opera_shell",str,function(data){
      data=JSON.parse(data);
      if(data["result"] == 0){
	$("#pub_result").val(data['msg'])
	cron_id=setInterval(function(){
	    var url_str='/pub/opera_shell?file_name_get=' + data['history_file_name']
	    $.getJSON(url_str,function(data_1){
		$("#pub_result").html(data_1['msg']);
	    });
        },1000);
      }else{
	swal("OH My God",data['msg'],"error")
      };
   });
   return false;
});




</script>

{% endblock %}
