{% extends "base.html" %}

{% block breadcrumb %} 
添加用户
{% endblock %}

{% block main %}
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                 <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写基本信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="registerForm" class="form-horizontal nice-validator n-yellow Formvalid" novalidate="novalidate">
                            <div class="form-group">
                                <label for="login_name" class="col-sm-2 control-label  ">登录名<span class="red-fonts ">*</span></label>
                                <div class="col-sm-6">
                                    <input id="login_name" name="login_name" placeholder="LoginName" type="text" datatype="*3-20" class="form-control" aria-required="true" nullmsg="请输入登录名" errormsg="必须输入3-20个任意字符">
                                 </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="name_cn" class="col-sm-2 control-label">中文名<span class="red-fonts">*</span></label>
                                <div class="col-sm-6">
                                    <input id="name_cn" name="name_cn" placeholder="NameCN" type="text" datatype="zh2-4" class="form-control" aria-required="true" nullmsg="请输入中文名" errormsg="必须输入
2-4个中文">
                                 </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">密码<span class="red-fonts">*</span></label>
                                <div class="col-sm-6">
                                    <input id="password" name="password" placeholder="Password" type="password" datatype="*8-24" class="form-control" aria-required="true" nullmsg="请输入密码" errormsg="必须输入8-24个任意字符">
                                 </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="password_again" class="col-sm-2 control-label">重复密码<span class="red-fonts">*</span></label>
                                <div class="col-sm-6">
                                  <input id="password_again" name="password_again" placeholder="PasswordAgain" type="password" datatype="*8-24" recheck="password" class="form-control" aria-required="true" errormsg="两次输入的密码不一致">
                                 </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="mobile" class="col-sm-2 control-label">手机号<span class="red-fonts">*</span></label>
                                <div class="col-sm-6">
                                    <input id="mobile" name="mobile" placeholder="Mobile" type="text" datatype="m" class="form-control" aria-required="true" data-tip="手机号" nullmsg="请输入手机号" errormsg="手机号格式不对">
                                 </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">邮箱<span class="red-fonts">*</span></label>
                                <div class="col-sm-6">
                                     <input id="email" name="email" placeholder="Email" type="text" datatype="e" class="form-control" aria-required="true" nullmsg="请输入邮箱" errormsg="邮箱格式不对">
                                </div>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="role" class="col-sm-2 control-label">角色<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="0" class="role" name="role" checked="">管理员</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="1" class="role" name="role" checked="">运维</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="2" class="role" name="role" checked="">开发</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="3" class="role" name="role" checked="">测试</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="4" class="role" name="role">访客</label>
                                        </div>
                                    </div>
                                    
                                 </div>
                            </div>
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">状态<span class="red-fonts">*</span></label>
				 <div class="col-sm-8">
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="0" class="status" name="status" checked="">正常</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="1" class="status" name="status">锁定</label>
                                        </div>
                                    </div>
				 </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div style="color:red" class="text-center" id="errmsg"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="submit_button" class="btn btn-primary">确认</button>
                                    <button class="btn btn-warning" type="reset">取消</button>
				    <button class="btn btn-info" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        $("#registerForm").Validform({
            tiptype:3,
            datatype:{
                "zh2-4" : /^[\u4E00-\u9FA5\uf900-\ufa2d]{2,4}$/,
            }
        });

        $("#submit_button").click(function(){
   	    var str_err=$('.Validform_wrong').text()
   	    if(!str_err){
               var str = $("#registerForm").serialize();
               $.post("/users/register",str,function(data){
                   data=JSON.parse(data);
                   if(data["result"] == 0){
		       swal({
    		   	   title:"Good",
			   text:"注册成功",
			   type:"success",
			   confirmButtonText:"确定"
		           },
  			   function(){
 			   location.href="/users/user_list";
                       })
                   }else{
		      swal("OH My God",data['msg'],"error")
                   };
               });
	   };
            return false;
        });

    </script>
{% endblock %}

