<html>
<head>
   <script src="/static/js/jquery-3.2.1.min.js"></script>
   <script>
     $(document).ready(function(){
       $("#update_password_btn").click(function(){
           var str=$("#update_password_Form").serialize();
           console.log(str);
           $.post("/users/update_password",str,function(data){
               console.log(data);
               data=JSON.parse(data);
               console.log(data);
               if(data['result']==0){
                  alert(data['msg']);
                  location.href="/users/user_info";
               }else{
                  $("p#err_id").html(data['msg']);
               };
           });
           return false;
       });
   });
   </script>
</head>
<body>
   <p id="err_id"></p>
   <form id="update_password_Form" method='post'>
        <p><input id="login_name" type='hidden' name='login_name' value='{{password_info.login_name}}' readonly="readonly"></p>
        <p><input id="password_old" type='hidden' name='password_old' value='{{password_info.password}}'></p>
        <p>旧密码:<input id="password_old_input" type='text' name='password_old_input'></p>
        <p>新密码:<input id="passwd_new" type='text' name='password_new'></p>
        <p>重复密码:<input id="password_new_again" type='text' name='password_new_again'></p>
        <p><input id="update_password_btn" type="submit" value="更改密码"></p>
   </form>
</body>
</html>
